# Ignore all files and folders in the root of the project
/*

# But do not ignore these files and folders
!/package.json
!/LICENSE
!/README.md
!/.npmignore

# Do not ignore the Cooldown folder inside UnityCooldown/Assets
!/UnityCooldown/Assets/CooldownPlugin
!/UnityCooldown/Assets/CooldownPlugin.meta

# Ignore files and folders inside Cooldown
/UnityCooldown/Assets/CooldownPlugin/*

# But do not ignore Runtime, Editor, and necessary .meta files
!/UnityCooldown/Assets/CooldownPlugin/Runtime
!/UnityCooldown/Assets/CooldownPlugin/Runtime.meta
!/UnityCooldown/Assets/CooldownPlugin/Editor
!/UnityCooldown/Assets/CooldownPlugin/Editor.meta

# Ignore test files and folders
/UnityCooldown/Assets/CooldownPlugin/Tests
/UnityCooldown/Assets/CooldownPlugin/Tests.meta

# Ignore temporary and system files
.DS_Store
.vs
.vscode
*.tmp
*.bak
